In [1]:
import pandas as pd
df = pd.read_csv("IMDB Dataset.csv")

In [2]:
print(df.head())

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
print(df.shape)

(50000, 2)

In [5]:
df = df.drop_duplicates()

In [6]:
print(df.shape)

(49582, 2)

In [7]:
df['cleaned_review'] = df['review'].str.replace(r'<br\s*/?>', ' ', regex=True)

In [8]:
df[['review', 'cleaned_review']].head(5)

,review,cleaned_review
0,One of the other reviewers has mentioned that ...,One of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,A wonderful little production. The filming t...
2,I thought this was a wonderful way to spend ti...,I thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,Basically there's a family where a little boy ...
4,"Petter Mattei's ""Love in the Time of Money"" is...","Petter Mattei's ""Love in the Time of Money"" is..."

In [9]:
df['cleaned_review'] = df['cleaned_review'].str.replace(r'[\(\)\[\]\{\}\*#%@]+|[-_]{2,}', '', regex=True)

In [10]:
df[['review', 'cleaned_review']].head(5)

,review,cleaned_review
0,One of the other reviewers has mentioned that ...,One of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,A wonderful little production. The filming t...
2,I thought this was a wonderful way to spend ti...,I thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,Basically there's a family where a little boy ...
4,"Petter Mattei's ""Love in the Time of Money"" is...","Petter Mattei's ""Love in the Time of Money"" is..."

In [11]:
df['cleaned_review'] = df['cleaned_review'].str.strip()
df['cleaned_review'] = df['cleaned_review'].str.replace(r'\s+', ' ', regex=True)

In [12]:
df[['review', 'cleaned_review']].head(5)

,review,cleaned_review
0,One of the other reviewers has mentioned that ...,One of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,A wonderful little production. The filming tec...
2,I thought this was a wonderful way to spend ti...,I thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,Basically there's a family where a little boy ...
4,"Petter Mattei's ""Love in the Time of Money"" is...","Petter Mattei's ""Love in the Time of Money"" is..."

In [13]:
df['cleaned_review'] = df['cleaned_review'].str.lower()

In [14]:
df[['review', 'cleaned_review']].head(5)

,review,cleaned_review
0,One of the other reviewers has mentioned that ...,one of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,a wonderful little production. the filming tec...
2,I thought this was a wonderful way to spend ti...,i thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,basically there's a family where a little boy ...
4,"Petter Mattei's ""Love in the Time of Money"" is...","petter mattei's ""love in the time of money"" is..."

In [15]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
def remove_stopwords(text):
    return ' '.join([word for word in text.split() if word not in ENGLISH_STOP_WORDS])
df['cleaned_review'] = df['cleaned_review'].apply(remove_stopwords)

In [16]:
df[['review', 'cleaned_review']].head(5)

,review,cleaned_review
0,One of the other reviewers has mentioned that ...,reviewers mentioned watching just 1 oz episode...
1,A wonderful little production. <br /><br />The...,wonderful little production. filming technique...
2,I thought this was a wonderful way to spend ti...,thought wonderful way spend time hot summer we...
3,Basically there's a family where a little boy ...,basically there's family little boy jake think...
4,"Petter Mattei's ""Love in the Time of Money"" is...","petter mattei's ""love time money"" visually stu..."

In [17]:
df.columns

Index(['review', 'sentiment', 'cleaned_review'], dtype='object')

In [20]:
df[['cleaned_review', 'sentiment']].to_csv("IMDB_Cleaned_Reviews.csv", index=False)

In [21]:
df = pd.read_csv("IMDB_Cleaned_Reviews.csv")

In [22]:
df['cleaned_review'] = df['cleaned_review'].str.replace(r'[.,]', '', regex=True)

In [23]:
print(df.head())

                                      cleaned_review sentiment
0  reviewers mentioned watching just 1 oz episode...  positive
1  wonderful little production filming technique ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically there's family little boy jake think...  negative
4  petter mattei's "love time money" visually stu...  positive

In [25]:
df['cleaned_review'] = df['cleaned_review'].str.replace(r'["\']', '', regex=True)

In [26]:
print(df.head())

                                      cleaned_review sentiment
0  reviewers mentioned watching just 1 oz episode...  positive
1  wonderful little production filming technique ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically theres family little boy jake thinks...  negative
4  petter matteis love time money visually stunni...  positive

In [27]:
print(df.head(20))

                                       cleaned_review sentiment
0   reviewers mentioned watching just 1 oz episode...  positive
1   wonderful little production filming technique ...  positive
2   thought wonderful way spend time hot summer we...  positive
3   basically theres family little boy jake thinks...  negative
4   petter matteis love time money visually stunni...  positive
5   probably all-time favorite movie story selfles...  positive
6   sure like resurrection dated seahunt series te...  positive
7   amazing fresh & innovative idea 70s aired 7 8 ...  negative
8   encouraged positive comments film looking forw...  negative
9   like original gut wrenching laughter like movi...  positive
10  phil alien quirky films humour based oddness a...  negative
11  saw movie 12 came out recall scariest scene bi...  negative
12  im big fan bolls work are enjoyed movie postal...  negative
13  cast played shakespeare shakespeare lost appre...  negative
14  fantastic movie prisoners famous actors george...  positive
15  kind drawn erotic scenes realize amateurish un...  negative
16  films just simply remade them bad film fails c...  positive
17  movie 10 awful movies horrible wasnt continuou...  negative
18  remember filmit film watched cinema picture da...  positive
19  awful film! real stinkers nominated golden glo...  negative

In [28]:
df.to_csv("IMDB_Cleaned_Reviews.csv", index=False)

In [29]:
df = pd.read_csv("IMDB_Cleaned_Reviews.csv")

In [30]:
df['cleaned_review'] = df['cleaned_review'].str.replace(r'[><\-,]', '', regex=True)

In [31]:
df['cleaned_review'] = df['cleaned_review'].str.replace(r'[&-]', '', regex=True)

In [32]:
df['cleaned_review'] = df['cleaned_review'].str.replace(r'\?+', '?', regex=True)
df['cleaned_review'] = df['cleaned_review'].str.replace(r'\!+', '!', regex=True)

In [35]:
df['cleaned_review'] = df['cleaned_review'].str.replace(r'[\/\-\:;&`]', '', regex=True)

In [37]:
df.to_csv("IMDB_Cleaned_Reviews.csv", index=False)

In [38]:
df = pd.read_csv("IMDB_Cleaned_Reviews.csv")

In [39]:
from collections import Counter
all_words =" ".join(df['cleaned_review']).split()
counter = Counter(all_words)
print(counter.most_common(5))

[('movie', 82543), ('film', 74134), ('like', 38569), ('just', 34614), ('its', 32833)]

In [40]:
df['sentiment'].value_counts()

sentiment
positive    24884
negative    24698
Name: count, dtype: int64

In [41]:
df.to_csv("IMDB_Cleaned_Reviews.csv", index=False)